<div class="profile-container">
  <div class="profile-information">
    <header class="profile-header">
      <h1>SparkleCow</h1>
      <img src="/account.gif" alt="">
    </header>
    <main class="profile">
      <h2>Fullname</h2>
      <h2>Email</h2>
    </main>
  </div>
  <div class="stats-information">
    <header class="stats-header">
      <h1>SparkleCow</h1>
      <h2>Nivel 2</h2>
      <h2>Puntos de experiencia 321</h2>
      <h2>Proximo nivel en 300 puntos</h2>
      <h2>Misiones completadas: 0</h2>
    </header>
    <main class="stats">
      <div class="stat">
        <div class="stat-content">
          <h3>Nivel fuerza</h3>
          <h3>Experiencia en fuerza 231</h3>
          <h3>Proximo nivel en 300</h3>
        </div>
        <div class="stat-image">
          <img src="/account2.gif" alt="" width="100px">
        </div>
      </div>

      <div class="stat">
        <div class="stat-content">
          <h3>Nivel inteligencia</h3>
          <h3>Experiencia en inteligencia 231</h3>
          <h3>Proximo nivel en 300</h3>
        </div>
        <div class="stat-image">
          <img src="/github.gif" alt="" width="100px">
        </div>
      </div>

      <div class="stat">
        <div class="stat-content">
          <h3>Nivel sabiduria</h3>
          <h3>Experiencia en sabiduria 231</h3>
          <h3>Proximo nivel en 300</h3>
        </div>
        <div class="stat-image">
          <img src="/account2.gif" alt="" width="100px">
        </div>
      </div>

      <div class="stat">
        <div class="stat-content">
          <h3>Nivel carisma</h3>
          <h3>Experiencia en carisma 231</h3>
          <h3>Proximo nivel en 300</h3>
        </div>
        <div class="stat-image">
          <img src="/account2.gif" alt="" width="100px">
        </div>
      </div>

      <div class="stat">
        <div class="stat-content">
          <h3>Nivel destreza</h3>
          <h3>Experiencia en carisma 231</h3>
          <h3>Proximo nivel en 300</h3>
        </div>
        <div class="stat-image">
          <img src="/github.gif" alt="" width="100px">
        </div>
      </div>
      <div class="stat">
        <div class="stat-content">
          <h3>Nivel constitución</h3>
          <h3>Experiencia en constitución 231</h3>
          <h3>Proximo nivel en 300</h3>
        </div>
        <div class="stat-image">
          <img src="/account2.gif" alt="" width="100px">
        </div>
      </div>

      <div class="stat">
        <div class="stat-content">
          <h3>Nivel suerte</h3>
          <h3>Experiencia en suerte 231</h3>
          <h3>Proximo nivel en 300</h3>
        </div>
        <div class="stat-image">
          <img src="/github.gif" alt="" width="100px">
        </div>
      </div>

    </main>
  </div>
</div>



