<div class="main-container">
  <app-window
    [imageRoute]='"/window1.gif"'
    [startLeft]="0"
    [startTop]="0">
  </app-window>

  <app-window
    [imageRoute]='"/vaporwave.gif"'
    [startLeft]="100"
    [startTop]="200">
  </app-window>

  <app-window
    [imageRoute]='"/missions.gif"'
    [startLeft]="450"
    [startTop]="100">
  </app-window>

  <app-window
    [imageRoute]='"/internet.gif"'
    [startLeft]="800"
    [startTop]="000">
  </app-window>

  <app-window
    [imageRoute]='"/cassette.gif"'
    [startLeft]="850"
    [startTop]="300">
  </app-window>

  <app-window
    [imageRoute]='"/duck.gif"'
    [startLeft]="500"
    [startTop]="500">
  </app-window>

  <app-window
    [imageRoute]='"/girl.gif"'
    [startLeft]="10"
    [startTop]="550">
  </app-window>
</div>
