<div class="main-container">

  <app-window
    [title]='"Spark"'
    [imageRoute]='"/ia.gif"'
    [startLeft]="350"
    [startTop]="50">
    <div class="welcome-container">
      <h2 class="welcome-title">Spark</h2>
      <p class="welcome-text">
       Te da misiones, te motiva y convierte tu día en aventura.
      </p>
    </div>
  </app-window>

  <app-window
    [title]='"Lootlife"'
    [imageRoute]='"/girl.gif"'
    [startLeft]="700"
    [startTop]="150">
    <div class="welcome-container">
      <h2 class="welcome-title">¡Bienvenido a Lootlife!</h2>
      <p class="welcome-text">
        Explora, crea y disfruta de nuevas aventuras en nuestra plataforma.
      </p>
    </div>
  </app-window>

  <app-window
    [imageRoute]='"/window1.gif"'
    [startLeft]="350"
    [startTop]="500">
  </app-window>

  <app-window
    [title]='"Lootlife"'
    [imageRoute]='"/girl.gif"'
    [startLeft]="0"
    [startTop]="150">
    <div class="welcome-container">
      <h2 class="welcome-title">¡Bienvenido a Lootlife!</h2>
      <p class="welcome-text">
        Explora, crea y disfruta de nuevas aventuras en nuestra plataforma.
      </p>
    </div>
  </app-window>
</div>
