<div class="home-container">
  <aside class="menu">
    <ul (click)="redirectAtLogin()"><img src="/login.gif"/>Loguearse</ul>
    <ul (click)="redirectAtRegister()"><img src="/register.png"/>Registrarse</ul>
    <ul><img src="/task.png"/>Tareas</ul>
    <ul><img src="/missions.gif"/>Misiones</ul>
    <ul (click)="redirectAtProfile()"><img src="/account2.gif"/>Estadisticas</ul>
    <ul><img src="/perfil.gif"/>Perfil</ul>
    <img src="/gif.gif" alt="Gif vaporwave" class="vaporwave-gif">
  </aside>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>


