<div class="home-container">
  <aside class="menu">
    <ul (click)="redirectAtLogin()"><img src="/login.png"/>Loguearse</ul>
    <ul (click)="redirectAtRegister()"><img src="/register.png"/>Registrarse</ul>
    <ul><img src="/task.png"/>Tareas</ul>
    <ul><img src="/missions.gif"/>Misiones</ul>
    <ul><img src="/account2.gif"/>Cuenta</ul>
    <img src="/vaporwave.gif" alt="Gif vaporwave" class="vaporwave-gif">
    <img src="/images.jpeg" alt="Gif vaporwave" class="profile-image">
  </aside>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>


