<div class="window">
  <header class="title-bar" (mousedown)="onMouseDown($event)">
    <div class="title-bar-text">
      @if (title) {
        <p>{{title}}</p>
      } @else {
        <p>Welcome!</p>
      }
    </div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </header>
  <main class="window-body">
    <img [src]="imageRoute()" alt="Contenido de la ventana" />
    <ng-content></ng-content>
  </main>
</div>
