:host {
    display: block;
    max-width: 300px;
    min-width: 200px;
}

.window {
    background: rgb(224, 219, 219);
    box-shadow: inset -1px -1px #0a0a0a, inset 2px 2px #dfdfdf, inset -3px -3px grey, inset 3px 3px #fff;
    padding: 3px;
    margin: 10px;
    user-select: none;
}

.window-body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-bar {
    background-image: linear-gradient(to top left, #d69eeb, rgba(131, 33, 121, 0.95));
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3px 2px 3px 3px;
}

.title-bar-text {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0;
    margin-right: 24px;
}

.title-bar-controls {
    display: flex
}

.title-bar-controls button {
    display: block;
    min-height: 14px;
    min-width: 16px;
    padding: 0;
}

.title-bar-controls button[aria-label=Minimize],
.title-bar-controls button[aria-label].minimize {
    background-image: url('/minimize.svg');
    background-position: bottom 3px left 4px;
    background-repeat: no-repeat;
}

.title-bar-controls button[aria-label=Maximize],
.title-bar-controls button[aria-label].maximize {
    background-image: url('/maximize.svg');
    background-position: top 2px left 3px;
    background-repeat: no-repeat;
}

.title-bar-controls button[aria-label=Close],
.title-bar-controls button[aria-label].close {
    background-image: url('/close.svg');
    background-position: top 3px left 4px;
    background-repeat: no-repeat;
    margin-left: 2px;
}

button{
    background: silver;
    border: none;
    border-radius: 0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
    box-sizing: border-box;
    color: transparent;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    text-shadow: 0 0 #222;
}
