.tasks-container{
  box-sizing: border-box;
}

.task-form{
  color:aliceblue;
  display: flex;
  flex-direction: column;
  background-color: rgba(131, 33, 121, 0.95);
  border: 5px outset rgba(152, 44, 141, 0.95);
}

.task-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.task-form input,
.task-form select,
.task-form button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.task-form button {
  margin-top: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #45a049;
}

.task-form form{
  display: flex;
  flex-direction: column;
}

.task-table-container{
  background-color: rgba(131, 33, 121, 0.95);
  border: 5px outset rgba(152, 44, 141, 0.95);
}

.task-header{
  text-align: center;
  color: aliceblue;
}

.task-header th{
  padding: 10px;
}

td{
  padding: 10px 0px;
}
