<div class="tasks-container flex justify-around">

  <div class="task-form">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <label for="title">Título</label>
      <input type="text" id="title" formControlName="title" maxlength="100" required>

      <label for="description">Descripción</label>
      <input type="text" id="description" formControlName="description" maxlength="255" required>

      <label for="taskDifficulty">Dificultad</label>
      <select id="taskDifficulty" formControlName="taskDifficulty" required>
        <option value="">-- Selecciona dificultad --</option>
        <option value="EASY">Fácil 🐔</option>
        <option value="MEDIUM">Media</option>
        <option value="HARD">Difícil</option>
        <option value="EXTREME">Extremo 💀</option>
      </select>

      <div class="stats-checkboxes">
        @for (option of statsOptions; track option.value) {
          <div class="stat-checkbox">
            <label>{{ option.label }}</label>
            <input
              type="checkbox"
              [value]="option.value"
              (change)="onCheckboxChange($event)"
              [checked]="selectedCategories.includes(option.value)"
              [disabled]="
                selectedCategories.length >= 3 && !selectedCategories.includes(option.value)
              "
            />
          </div>
        }
      </div>

      <p class="warning" *ngIf="selectedCategories.length >= 3">
        Máximo 3 categorías seleccionadas
      </p>

      <label for="deadline">Fecha límite</label>
      <input type="datetime-local" id="deadline" formControlName="deadline" required>

      <label for="progressRequired">Progreso requerido</label>
      <input type="number" id="progressRequired" formControlName="progressRequired" min="1" required>

      <button type="submit">Agregar tarea</button>
    </form>
  </div>

  <div class="task-table-container">
    <table class="task-table">
      <tr class="task-header">
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Recompensa</th>
        <th>Dificultad</th>
        <th>Deadline</th>
        <th>Progreso</th>
        <th>Categorias</th>
        <th>Acciones</th>
      </tr>

      <tbody>
        @for(task of userTasks; track task.id){
          <tr [ngClass]="{ 'completed-row': !task.isActive }">
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>{{task.xpReward}}</td>
            <td>{{task.taskDifficulty}}</td>
            <td>{{task.deadline}}</td>
            <td>{{task.progressRequired}}</td>
            <td>{{task.statsCategories}}</td>
            <td>
              <button (click)="completeTask(task.id)">Complete</button>
              <button (click)="deleteTask(task.id)">Delete</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
